/.vs
/.vscode
/x64
/x86
.DS_store

*.aps
*.log
*.tlog
*.vcxproj.user

*.nx
*.wz
Settings

/includes/WzLib
/includes/**/*.sln
/includes/**/*.vcxproj*
/includes/**/*.txt
/includes/**/*.gitignore

# Builds
build/

# Libraries
libs/

# Vagrant
.vagrant/
